Clarify the description of the AS issuer identifier defense

(This is part of the feedback by @adon-at-work)
- 2.1.2.1 Reminder about validating issuer field from metadata file, as per [rfc8414#section-3.3](https://datatracker.ietf.org/doc/html/rfc8414#section-3.3). Reminder for not to extract issuer from the token_endpoint string (engineer may be tempted to do so given their current implementation).
- 2.1.2.1 “”Note that "issuer identifier" here does not refer to the term "issuer" as defined in {{Section 4.4 of RFC9700}}, but to the issuer identifier as used in {{!RFC8414}} and {{OpenID.Discovery}}.”” What’s the difference?