Restructure "Mix-up Reloaded"-related Sections

(This is part of the feedback by @adon-at-work on #17, to be resolved by @KevinLuo2000)

> With due respect, I recommend the following structure, with contents from 2.3.3 absorbed in appropriate sections.
> 
> I suppose we should write it as a new attack, either we call it Advanced Mix-up Attacks (if you want to honor D Fett) or COAT and CORF Attacks, or even COAT and CORF (aka. Advanced mix-up). As you introduce it, may be we should just say this section 2.2 supersedes mix-up as defined in RFC9700 and/or we should frame there’re n variants, and certain variants is covered by RFC9700.
> 
> **2.2.1 Attack Description**
> “The description here follows RFC9700 section 4.4 (kinda give credit to them), with new variants of the attack outlined below.”
> 
> Preconditions:
> * copy presumptions that are still valid, probably we will use only the first one in 4.4
> * **AS-sharing. a client can use a (honest) AS, with multiple sets of different client credentials (e.g.., client id), for legitimate purposes.** (RFC9700 implicitly assumed/implied otherwise. Just in case a client can guarantee uniqueness of AS, RFC9700 4.4 suffices… I assume this is true. If not, we may point to a discussion section.)
> A final paragraph like “Hence this advanced mix-up requires less assumptions than the mixup in RFC9700.”
> And so we split the discussion into 2 subsections
> 
> **2.2.1.1 Same redirect_uri**
> Same as 4.4.1 + redirect_uri in the attack steps
> Variants:
> * Mix-Up with Interception. (same as 4.4.4.1) still copy their text
> * Implicit Grant(same as 4.4.4.1) still copy their text
> * OpenID Connect(same as 4.4.4.1) still copy their text
> * Naïve… or CORF (new)
> * Whatever other new variant
> 
> **2.2.1.2 Distinct redirect_uri**
> Open this paragraph with why it can still fail, as opposed to understanding in RFC9700.
> Same as 4.4.1 with distinct redirect_uri adjusted accordingly in attack steps
> 
> Variants:
> * Mix-Up with Interception. refer to 2.2.2.1
> * Implicit Grant. refer to 2.2.2.1
> * OpenID Connect. refer to 2.2.2.1
> * Inherit other in 2.2.2.1
> * Add any new, if any
> 
> (new and old) Variants corresponding and unique to distinct redirect_uri.
> 
> **2.2.2 Countermeasures.**
> 2.2.2.1
> When precondition 2 does not hold, or when client has enforced that the AS-sharing condition will NOT exist. One may refer to 4.4.2, except with the following cavets/updates…… this is basically your draft. But please make those suggested defenses split also in bullet form that kinda correspond to Variant list (better if you can come up with a name for them instead of Variant 1,2,3).
> 
> 2.2.2.2
> Given precondition 2, 2.2.1.1 needs to change to use distinct redirect_uri, right?

test
test
test


**Clarification:**
> 2.2.2.2
> Given precondition 2, 2.2.1.1 (Attack Description - Same redirect_uri) needs to change to use distinct redirect_uri, right?

Not really. With same redirect_uri, a client could store each client configuration in a session (functional requirement), AND store each issuer in a session (maybe associated with stored client configuration thus no need of extra storage in session), AND match with returned issuer identifier following RFC9207 (security requirement a.k.a. mix-up defense). This can be done without changing to use distinct redirect_uri.

The restructuring of the sections was done in individual draft -02/WG-adopted -00 version.