On normative requirement of software_id

In the current writing, the defense for client configuration confusion attack involves the following caveat (and its resolution):

> When dynamic client registration is supported, **clients SHOULD also specify a different software identifier** (software_id) in client registration requests for each client configuration. This prevents client registration requests from being rejected by the authorization server when different redirection URIs are used, if the authorization server follows the excerpt of Section 5 of RFC7591 below:
> > An authorization server could also refuse registration requests from a known software identifier that is requesting different redirection URIs or a different client URI.


Here we are basically requiring a client software instance to have different software ids for different client configurations. Although this requirement is only meant for open ecosystems, it imposes a normative change to the definition of software_id in RFC7591, where 
> the **"software_id" SHOULD remain the same** for all instances of the client software.

Is there a better solution?

Or maybe, this is not conflicting with the normative requirement in RFC7591 at all, when justified like below:
The registered clients for different client configurations shall be treated as different client softwares, because it is not the clients or client developers, but external developers or end-users, that integrate a certain piece of client configuration. Furthermore, conceptually, each client configuration itself operates an OAuth (sub-)client, although they may coexist at the same (aggregated) client software, reusing its OAuth client codebase.

However, this may require further clarification on the definition of client software, which is only a single sentence in RFC7591:
> Client Software
> Software implementing an OAuth 2.0 client.

This issue belongs to the individual draft (-01).

In the latest version (WG-adopted -00) we did not explicitly bring up "client configuration confusion attack", so closing this issue for now. We can reopen it if needed in the future.

