Discuss proposed alternative defense

(This is part of the feedback by @adon-at-work)

> Easiest and most pragmatic solution that works overnight, that requires only client changes. Client ensures that there’re no overlaps of client_id and token_endpoint pairs for all its ASes (be it existing ones or those by DCR in the future). Unlikely there’s a legit use case where the pair would be the same across two different issuers. Should there be an existing collision, as a remedy, the app can re-register to get a new client_id over DCR from one of the issuers (the legit one is unlikely to reuse client_id) to make things unique.

Think about whether this works and what the client has to watch out for. If viable as a defense, consider adding it.

Also consider ecosystems that always use the same client_id across ASs (e.g., OpenID Federation).

> requires only client changes

That is also true for the "aud = issuer identifier" and "aud = exact endpoint" defenses (see #12).

> Client ensures that there’re no overlaps of client_id and token_endpoint pairs for all its ASes

I actually think that's not sufficient to prevent audience injection attacks, at least not in general. Consider a client that always includes the token and revocation endpoints in its client assertions (which is perfectly fine w.r.t. the relevant standards). In that case, the attacker AS can publish the following metadata (excerpt):
```
token_endpoint: att.com/token,
revocation_endpoint: hon.com/token
```
The client's token request (to what the client thinks is the attacker AS) goes to `att.com/token` (i.e., to the attacker) and includes a client assertion with `aud: ["att.com/token", "hon.com/token"]`. That `aud` value is also valid for requests to `hon.com/token` (and maybe other endpoints of `hon.com` as well, see #8). Hence, this is an instance of an audience injection attack.

Without AS changes, most combinations of endpoints with client authentication can be (ab)used in one way or the other by an attacker to obtain a client assertion that's valid somewhere else _unless_ the client chooses an `aud` value that's either the issuer identifier or the exact target endpoint. Hence, I'd be very careful in trying to come up with some "clever" way for the client to ensure its AS registrations are "not attackable" (and, what's more: Any such requirement on the client would be in conflict with the current and widely implemented logic of "client ID and AS endpoints are provided by the AS and (mostly) opaque values to the client" with only very minimal restrictions, such as mandatory HTTPS for the token endpoint).

Also note that just doing another round of DCR - even if feasible, think of stuff like initial access tokens that are typically one-time use - is not at all guaranteed to result in a different client ID. In some cases, having the same client ID for all registrations of a given client (even across ASs) is mandatory, e.g., in OpenID Federation.

I.e., I think this mechanism might introduce problems in practice and, more importantly, doesn't reliably work as a defense.

I agree with everything you said. 

But as I emphasized, the alternative defense is a **quick-and-dirty** fix (and surely it comes with all those "cleverness" concerns here and there as you tried to enumerate...). 

The fundamental difference between our believes may be that I assume a change to `aud=token_EP` will introduce backward compatibility issues, since most (or at least some) ASes accept `aud=token_EP` **only**, as influenced and suggested by many of those specs. But apparently, you seem to expect *all* ASes today readily take any values that identify themselves (could be issuer, token_EP, par_EP, and be future-proofing for some new endpoints unheard of before, etc, and hence no AS change is needed).

If the assumption is right, there will be compatibility issue. So in this imperfect world, what can a client do to secure itself while still keeping the lights on when these "standard-non-compliant" servers will only accept "aud=token_EP"?

> Without AS changes, most combinations of endpoints with client authentication can be (ab)used in one way or the other by an attacker to obtain a client assertion that's valid somewhere else unless the client chooses an aud value that's either the issuer identifier or the exact target endpoint.

Agree. Multiple values in aud is asking for trouble.

I see here you're implicitly expecting client to use a **single** aud value for your solution to be secured too. 
- If a client uses same client_id across all ASes and `aud=[issuer1, issuer2]` , then it can be screwed too. 
- But if a client doesn't like exact target endpoint, and wanted to relax it as `aud=[issuer1/token, issuer1/revoke]` sourced from the same  for performance reasons will be prohibited by your spec, even though it's secure.

Similarly, the alternative fix is meant for a vulnerable client that uses a **single** `aud = token_EP`. If we want to generalize, it could be said as "there’re no overlaps of client_id and token_endpoint (or whatever values client use in the aud) pairs for all its ASes". But of course, this discussion is meaningful only if you're convinced about the backward compatibility issue.

> fundamental difference between our believes

I agree that we seem to have different believes 😄 

> a change to aud=token_EP will introduce backward compatibility issues, since most (or at least some) ASes accept aud=token_EP only, as influenced and suggested by many of those specs. But apparently, you seem to expect all ASes to readily take any values that identify themselves (could be issuer, token_EP, par_EP, etc, and so no AS change is needed).

My take on this is twofold: First, the "expectation" that an AS will accept the exact target endpoint and its issuer identifier as `aud` is a normative requirement in all specs (that I am aware of) outside of the "original culprits (OIDC, RFCs 752x)" that do say something about the `aud` values an AS has to accept (RFC 9126 and CIBA) contain a sentence like: _"the authorization server MUST accept its issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as values that identify it as an intended audience."_ (quote is from the Pushed AuthZ Request RFC)

Second, in any case, I think we do agree that the current normative language around what `aud` values an AS is allowed to accept does not conflict with the proposed fixes, i.e., they do not require normative changes to the AS.

> So in this imperfect world, what can a client do to secure itself while still keeping the lights on when these "standard-non-compliant" servers will only accept "aud=token_EP"?

If you as a client are willing to continue using an AS that
1. Requires authentication at more than the token endpoint;
2. Expects its token endpoint as the sole `aud` value at ALL these endpoints (keep in mind, for at least CIBA and PAR, an AS is _explicitly_ required to accept the respective exact endpoint as `aud`);
3. Does not care enough about its clients' security to change what `aud` values it accepts; and 
4. Does not offer a way for you as a client to update your registered key material
   1. Note 1: the current text explicitly mentions the possibility of using different key material for each AS as an alternative defense
   2. Note 2: it is sufficient if the AS just allows the client to rotate their authentication public key, i.e., the AS does not need to support full-blown Dynamic Client Management or similar (and while not _required_ in any spec that I know of - albeit some specs like RFC 7591, OIDC, and OIDC DCR do explicitly mention key rotation, FAPI 2.0 SP "recommends" it - I think we can agree that not allowing key rotation is a red flag in the first place)

... then yes, the currently proposed fixes cannot be applied to all communication with that particular AS.
That said, I'd argue that this is such a special case that it does not justify including a defense...
- That will only work in this very particular special case (assuming that some other things are clarified, e.g., the handling of `mtls_endpoint_aliases`),
- Relies on the AS continuing to only accept its token endpoint,
- Should certainly NOT be used when any other defense is available,
- Relies on the client not doing "strange, but technically allowed" things when talking to the attacker AS (like using the attacker AS' PAR endpoint as an `aud` value for requests to other endpoints of the attacker AS; note that it is the attacker who "defines" what it wants from the client, so if the client wants to talk to the attacker AS, it has to comply), and
- Breaks currently allowed setups where multiple perfectly honest, standards-compliant ASs may share a token endpoint (probably not a _common_ case, but allowed nonetheless).

... in a BCP update. Including a "quick and dirty" works-in-some-scenarios-but-not-in-others defense has huge potential for confusion - and I'd expect to then see clients implement this less-than-ideal defense, but never re-evaluating whether an actual fix can be deployed at a later time.

> But of course, this discussion is meaningful only if you're convinced about the backward compatibility issue.

As of right now, I am not really convinced that backward compatibility will be a huge issue (see the enumeration of preconditions above). That said, I still see value in discussing, because I may of course overlook things.

---

> I see here you're implicitly expecting client to use a single aud value for your solution to be secured too.

That is not an implicit expectation, the current text very much explicitly says "sole audience value".

> If a client uses the same client_id across all ASes and include all issuers in its aud=[issuer1, issuer2], then it can be screwed too.

If a client issues an assertion that is _intended_ (which is what `aud` expresses) to be valid at multiple ASs, then it shouldn't come as a surprise that this assertion _will_ be valid at (those exact!) multiple ASs - hence, I would not consider that an attack.
That said, _intending_ an authentication credential for multiple ASs (that the client generally has to assume will be issuing different client_ids) is a very strange choice by the client, albeit technically allowed (but will be forbidden by the proposed fixes, not only in this document, but also the proposed updates to RFCs 752x, OIDC, CIBA, ..., which I think is a good thing).

> the alternative fix is meant for a vulnerable client that uses a single aud = token_EP.

I am not sure what you're trying to say here - that the alternative fix is only meant for clients that use single-valued `aud`? For which AS(s)? Or something entirely different?

Let's not go line by line about my previous response. With due respect, I disagree your counterexample serves to invalidate a quick-and-dirty fix, which is a quick and dirty fix.

---

More importantly, as a reader from the engineering world, if I read OIDC (specifically [section 9](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) and may be also RFC752x), and implemented everything there with AS accepting **only** token EP (note that there're no such Updates/Deprecates header on OIDC docs), I'll be happily declaring that I'm fully standard-compliant. It's unlikely I'd go look at CIBA and RFC9126 (PAR) until there's a need to support those extensions.

And if we read the whole passages from CIBA and RFC9126(PAR) in their entirety, they both recognized there's ambiguity on `aud` value, and thus backward compatibility issues. People can always say I gotta balance resources/risk among priorities other than just security. Putting myself into the shoes of the opposing side, some will likely argue that they're NOT a normative change anyone has to follow or have followed, since (1) they have no Updates/Deprecates header for the older RFC/OIDC; (2) they can be interpreted as extension-specific; (3) the last "MUST" sentence that you quoted is also a conditional statement applicable to those who need/want to facilitate interoperability; and/or (4) the last sentence from CIBA and RFC9126 sound kinda incompatible with each other if I need to support both CIBA and RFC9126. It doesn't mean/matter if I, as a security folk, fully agree, that's just how the world works. You will understand as you enter the industry. :)

From [CIBA](https://openid.net/specs/openid-client-initiated-backchannel-authentication-core-1_0.html#auth_request)

> Note that there's some potential ambiguity around the appropriate audience value to use when JWT client assertion based authentication is employed. To address that ambiguity the Issuer Identifier of the OP SHOULD be used as the value of the audience. To facilitate interoperability, the OP MUST accept its Issuer Identifier, Token Endpoint URL, or Backchannel Authentication Endpoint URL as values that identify it as an intended audience.

From [RFC9126](https://datatracker.ietf.org/doc/html/rfc9126#section-2-5)

> Due to historical reasons, there is potential ambiguity regarding the appropriate audience value to use when employing JWT client assertion-based authentication (defined in [Section 2.2](https://www.rfc-editor.org/rfc/rfc7523#section-2.2) of [[RFC7523](https://datatracker.ietf.org/doc/html/rfc7523)] with private_key_jwt or client_secret_jwt authentication method names per Section 9 of [[OIDC](http://openid.net/specs/openid-connect-core-1_0.html)]). To address that ambiguity, the issuer identifier URL of the authorization server according to [[RFC8414](https://datatracker.ietf.org/doc/html/rfc8414)] SHOULD be used as the value of the audience. In order to facilitate interoperability, the authorization server MUST accept its issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as values that identify it as an intended audience.

My two cents. May be I'm wrong, BCP is BCP, technically it's not a standard. No matter what will be written, people might not have different opinions on considering anything there as normative changes or not. Regardless, your contribution on writing up a useful BCP is valuable, take the chance to cleanup the mess. Give a comprehensive guide on how things can be best fixed, and leave no/less ambiguity so people can have excuses. And that's my perhaps naive belief. :)

And so, just as a random reader (who'd appreciate a well-documented reference to use against Goliath :)), I'd love to see:
- at least recognize the ambiguity like CIBA/RFC9126, so people know a client change from token_EP to something else may be a breaking change, since it does not guarantee server acceptance. If it just works, cool!
- the BCP / most recommended `aud` value a client should send. conforming to CIBA and RFC9126, apparently should be the issuer.
- the BCP for AS, what `aud` value should it accept? regardless of it's interpreted as normative/just a BCP recommendation. As a BCP, you want AS to accept only either issuer or target-specific endpoint URL. I'd argue making it target endpoint specific isn't clearly spelled out by the other spec. For instance, PAR endpoint should not take token_EP, unless for interoperability/historical reasons.
- the BCP if just in case a client cannot get all your ASes to comply, then there comes recommendations in decreasing preference. 1. use different (the current draft uses the word "fresh") key material per AS; 2. ensure no overlapping of client_id + aud value among all supported current and future ASes (unless absolutely required... it's okay to condition that), etc...

They're my little suggestions for you to consider. Thanks and appreciate that.