Definition of "Open Ecosystem"

> It might be helpful for readers to explicitly say something along the lines of "in what we refer to as open ecosystems, the registration roles are reversed: ..." at the beginning of that paragraph.
...
Is there a good reason to not define "open ecosystems" via the "reversed registration" characteristic?

Thanks for the question! I'd say the intended generalizability of the spec may influence how we adjust the language.

I did not define "open ecosystems" using the "reversed registration" characteristic because:

* Two open ecosystem patterns:
  - For Integration Platforms (the focus of our research paper), the "reversed registration" pattern makes perfect sense. The AS/RS, as external developers of the integration platform, proactively registers at the client, which is a reverse direction compared with ordinary OAuth deployments.
  - However, in the spec, I also want to be less restrictive, and incorporate another possible open ecosystem pattern, that is gaining popularity in the AI Agent space (e.g., within the MCP protocol). In this case, the "openness" in the ecosystem stems not from external developers, but from end-users, who can enter ANY AS/RS's urls, and make the client interact with them.
  - AFAIK, the "reversed registration" characteristic does **not** apply to this second case, since the AS/RS is still passively waiting for a non-reversed registration. 
* Nuance between "registration" and "integration":
  - I also want to avoid overloading the term "registration", which in OAuth typically refers to client registration, i.e., the client already knows which AS it wants to contact, and goes register with the AS to obtain a client id and credential. What we're describing here is how the client decides which AS and RS to interact with, which I believe is better captured by the term "integration" rather than "registration".
* On the term "reversed":
  - I'm also unsure whether the term "reversed" might be a bit overloaded. If all AS/RS/Client registration information are manually provided (e.g., filled in as a form at the client's developer portal as in Integration Platforms), we could for sure confidently use the term "reversed". But if AS Metadata/PRM/DCR is used, then the AS Metadata/PRM/Client Registration Request shall be sent from the client to the AS/RS, which does not reflect the "reversed" pattern.


----
To further explain my stance on the definition of open ecosystem, I'd like to reference the following RFCs:

RFC8414 Authorization Server Metadata [Section 1](https://datatracker.ietf.org/doc/html/rfc8414#section-1):
> The means by which the client chooses an authorization server is out
   of scope.  In some cases, its issuer identifier may be **manually
   configured** into the client.  In other cases, it may be **dynamically
   discovered**, for instance, through the use of WebFinger [[RFC7033](https://www.rfc-editor.org/rfc/rfc7033)], as
   described in [Section 2](https://www.rfc-editor.org/rfc/rfc8414#section-2) of "OpenID Connect Discovery 1.0"
   [[OpenID.Discovery](https://www.rfc-editor.org/rfc/rfc8414#ref-OpenID.Discovery)].


RFC9728 Protected Resource Metadata [Section 1](https://datatracker.ietf.org/doc/html/rfc9728#section-1-2):
> The means by which the client obtains the location of the protected
   resource is out of scope for this document.  In some cases, the
   location may be **manually configured** into the client; for example, an
   email client could provide an interface for a user to enter the URL
   of their JSON Meta Application Protocol (JMAP) server [RFC8620].  In
   other cases, it may be **dynamically discovered**; for example, a user
   could enter their email address into an email client, the client
   could perform WebFinger discovery [RFC7033] (in a manner related to
   the description in Section 2 of [OpenID.Discovery]) to find the
   resource server, and the client could then fetch the resource server
   metadata to find the authorization server to use to obtain
   authorization to access the user's email.


Overall, rather than separating based on whether the AS/RS is "manually configured" or "dynamically discovered" (as above), I'd propose a different separation, based on _who_ integrates the AS and RS:
- If it's the client or client developer, then it's a more trusted environment (unless you don't trust the client at all, which is a different story), because the client can solely decide which AS/RS to integrate based on its needs. This is what I referred to as the "traditional OAuth deployments".
- If the integration is initiated by external developers or end-users, then it's a less trusted environment, because the client cannot, or at least is not the only party involved in making the integration decision. This is what I try to define as the "open ecosystems" pattern.

----
> I am not sure I agree with defining "open ecosystems" as below, because deciding what is accessible to a client is up to the **AS/RS/RO** in the traditional OAuth model as well.
> > protected resources accessible to a client are configured beyond the discretion of the client or client developers


I agree this is a bit confusing. Though I haven't found a satisfactory alternative yet.

* If an **RO** (i.e., end-user) can decide what is accessible to the client, I guess it's more like the two examples in the RFC9728 Section 1 paragraph above. I think this case can fall under our definition of open ecosystems (similar to the MCP case).
* If an **AS/RS** can decide what is accessible to a client, I guess we should further distinguish the nuance between "expose" and "configure":
  - If the AS/RS's role is to decide whether to _expose_ a certain resource to a particular client (so that the resource can/cannot be accessible to the client), I would say this is orthogonal to what we try to define here. But we may need to clarify the language to avoid confusion.
  - If the AS/RS's role is to decide whether to _configure_ itself at a particular client, I'd say this falls under our definition of open ecosystems (the Integration Platform case).

----

I've also touched up the language around "client configurations", so that the concept is not limited to open ecosystem, but also applicable to the traditional OAuth model. 

Feel free to let me know if the above explanations are helpful. We can work on the changes/discuss further in issues.

_Originally posted by @KevinLuo2000 in https://github.com/SECtim/draft-wuertele-oauth-security-topics-update/pull/17#discussion_r2149062904_
            