Discuss "single value audience" requirements

(This is part of the feedback by @adon-at-work)
2.1.2.2 aud=single target endpoint
- single audience requirement. multiple audiences I think isn't necessarily a bad thing, as long as they are all belonging to the same issuer. ex. [[h-as.com/token](http://h-as.com/token), [h-as.com/revoke](http://h-as.com/revoke)]
- What's the expectation if I need a cla for token negotiation and then later for revocation. I kinda think it could be a transactional process, I got a token, finish my task, and do clean up. I think it makes sense to reuse the same cla for both. But if its single aud, then i gotta create cla twice, one per endpoint. This can discourage people to cleanup/call revoke given the performance penalty (jti was introduced there for performance/replay reason).
- let's say we want to allow multiple aud from the same issuer. or more generally, as is today, when people put multiple aud, what's one-time use of `jti`mean? is that one-time use per aud, or across all audiences. should we clarify?

> multiple audiences I think isn't necessarily a bad thing, as long as they are all belonging to the same issuer

That would require normative changes to the AS; i.e., the AS then MUST verify that it can identify with _all_ elements in the `aud` array before accepting a client assertion (or, maybe better: all elements must be endpoints of the AS). Not necessarily a reason to not include this proposal, but something to be aware of.

> But if its single aud, then i gotta create cla twice, one per endpoint.

Only when using the "exact endpoint" audience defense, i.e., when no issuer identifier is available.

> This can discourage people to cleanup/call revoke given the performance penalty (jti was introduced there for performance/replay reason).

I wouldn't say that `jti` was introduced to enable replay - actually, quite the opposite: To (at least optionally) prevent replay. For example, the default for [OpenID Connect authentication JWTs](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) is "These tokens MUST only be used once". In the IETF world, the usual formulation is something like "MAY use `jti` to ensure that JWTs are not replayed", e.g., in [RFC7519](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.7), [RFC7521](https://datatracker.ietf.org/doc/html/rfc7521#section-5.1), [RFC7522](https://datatracker.ietf.org/doc/html/rfc7522#section-3), [RFC7523](https://datatracker.ietf.org/doc/html/rfc7523#section-3), and [RFC9449](https://datatracker.ietf.org/doc/html/rfc9449#name-dpop-proof-jwt-syntax).

> let's say we want to allow multiple aud from the same issuer. or more generally, as is today, when people put multiple aud, what's one-time use of jti mean? is that one-time use per aud, or across all audiences. should we clarify?

That's a can of worms this document certainly should not open, because it has nothing to do with audience injection attacks or their mitigation.
That said, in my opinion, the original formulations around `jti` and JWT replay/reuse are somewhat unfortunate, because they end up saying "do whatever you want" (with the exception of OIDC, but that also leaves the door open to "unless conditions for reuse were negotiated between the parties"), instead of giving clear options with their respective pros and cons.

---

So, to summarize what I think:
- This document should definitely avoid talking about `jti` and JWT replay/reuse.
- I am in principle open to discuss the possibility of allowing `aud` arrays, but at least for RFCs 7521, 7522, 7523, and 9126, as well as the OIDF specs OIDC, CIBA, FAPI 1.0, and FAPI 2.0, corresponding updates/drafts thereof do require single-valued audiences; so talking about multi-valued `aud`s here might confuse people.

>  use jti to ensure that JWTs are not replayed
Sure. I meant "jti was introduced there for (trading off between) performance/replay reason". Performance-critical applications may not want to use `jti`, where security-critical applications use `jti` to prevent replay.

I dont know which spec was used in practice
- https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.7 says `jti` is optional, whereas
- https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication says `jti` is required 

I missed the 2nd spec initially, and thought that most people aren't using `jti` since it's optional (and that replay is to certain degree mitigated by `exp` already). So I raised the concerns. If `jti` is already a required thing in the context of using jwt as client authentication, then I assume people is likely re-generating a new cla fresh anyway whenever it hits an endpoint. So, I agree we should not bring up `jti`.